In [ ]:
import pandas as pd

In [3]:
df=pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
774,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
775,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
776,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
777,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
778,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
df.head(10)

**Read Column Names**

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

**Read each column**

In [ ]:
print(df['Name'][0:10])
print(df[['Name','Type 1','HP']])

**Read each row**

In [ ]:
print(df.iloc[0:4])

In [ ]:
for index, row in df.iterrows():
    # print(index,row)
    print(index,row['Name'])

In [ ]:
df.loc[df['Type 1']=='Fire']

**Gives mean, standard deviation, min, max**

In [ ]:
df.describe()

**Sorting**

In [ ]:
print(df.sort_values('Name',ascending=True))

In [ ]:
print(df.sort_values(['Type 1','HP'],ascending=False))

**Adding Columns**

In [ ]:
df['Total']=df['HP']+df['Attack']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df

In [ ]:
print(df.sort_values('Total',ascending=False))

In [ ]:
df['Total']=df.iloc[:,4:10].sum(axis=1)

In [ ]:
df

**Removing Column**

In [ ]:
df.drop(columns=['Total'])

**Filtering and Saving file**

In [ ]:
new_df=df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP']>70)]

In [ ]:
new_df

In [ ]:
new_df.to_csv('filtered.csv',index=False)

In [ ]:
df.loc[df['Name'].str.contains('Mega')]

**Conditional Changes**

In [ ]:
df.loc[df['Type 1']=='Fire','Type 1'] ='Flamer'

In [ ]:
df

In [ ]:
df.loc[df['Type 1']=='Flamer','Type 1'] ='Fire'
df

In [ ]:
df.loc[df['Type 1']=='Grass','Legendary'] =True
df

In [ ]:
df.loc[df['Total']>500,['Generation','Legendary']] =['Test 1','Test 2']

**Aggregate Statistics(Groupby)**

In [ ]:
print(df.groupby(['Type 1']).count())

**Making Chunks**

In [ ]:
for chunks in pd.read_csv('pokemon_data.csv',chunksize=5):
    print("Chunnks Dataframes:")
    print(chunks)

## Basic Operations:

In [6]:
dict1={
    'name':['Zaid','Aoun','Wahab','Zain'],
    'marks':[19,18,17,18],
    'city':['Sargodha','Jhung','Khushab','Sargodha']
}
df=pd.DataFrame(dict1)
df.to_csv('friends.csv')
df

    name  marks      city
0   Zaid     19  Sargodha
1   Aoun     18     Jhung
2  Wahab     17   Khushab
3   Zain     18  Sargodha

In [ ]:
print(type(df))
print(type(df['marks']))

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
poke=pd.read_csv('pokemon_data.csv')
poke.loc[0,'HP']=99
poke['HP'][0]

In [ ]:
poke['HP'][0]

In [ ]:
pd.read_csv