## Important Functions of pandas

In [1]:
import pandas as pd
import numpy as np

**Series:**

In [4]:
ser=pd.Series(np.random.rand(15))
print(ser)
print(type(ser))

0     0.992951
1     0.974866
2     0.616171
3     0.348518
4     0.776545
5     0.838557
6     0.037809
7     0.601666
8     0.946874
9     0.603412
10    0.137966
11    0.508746
12    0.408381
13    0.528516
14    0.459611
dtype: float64
<class 'pandas.core.series.Series'>

**DataFrame:**

In [3]:
df=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
print(df)
print(type(df))

            0         1         2         3         4
0    0.338910  0.877266  0.342391  0.145441  0.897616
1    0.438605  0.329593  0.624232  0.635699  0.577552
2    0.973098  0.999048  0.738518  0.251127  0.430822
3    0.287060  0.555837  0.804960  0.197949  0.897239
4    0.725151  0.351479  0.056178  0.272473  0.295349
..        ...       ...       ...       ...       ...
329  0.465283  0.399131  0.158266  0.616929  0.919697
330  0.936762  0.095172  0.648405  0.456684  0.471190
331  0.959065  0.342582  0.058466  0.583069  0.199758
332  0.923698  0.198648  0.400985  0.838142  0.280113
333  0.734307  0.264972  0.418432  0.067647  0.102295

[334 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

In [5]:
print(df.describe())
print(df.dtypes)

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.517637    0.524164    0.486365    0.468125    0.519934
std      0.295730    0.279393    0.281674    0.291827    0.300119
min      0.000844    0.000737    0.004124    0.000714    0.002256
25%      0.259866    0.288635    0.258998    0.209539    0.259280
50%      0.548539    0.549089    0.489835    0.462396    0.535183
75%      0.776140    0.757921    0.705627    0.712559    0.793023
max      0.992956    0.999048    0.989877    0.991627    0.999581
0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

**Changing Values**

In [7]:
df.loc[0][0]='Zaid'
print(df.head(6))
print(df.dtypes)

          0         1         2         3         4
0      Zaid  0.877266  0.342391  0.145441  0.897616
1  0.438605  0.329593  0.624232  0.635699  0.577552
2  0.973098  0.999048  0.738518  0.251127  0.430822
3   0.28706  0.555837  0.804960  0.197949  0.897239
4  0.725151  0.351479  0.056178  0.272473  0.295349
5  0.396916  0.835520  0.655809  0.453157  0.391505
0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

C:\Users\M.s\AppData\Local\Temp\ipykernel_9316\3601848622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0][0]='Zaid'

**Sorting Values**

In [ ]:
print(df.index)
print(df.columns)
print(df.sort_index(axis=0,ascending=True))
# df.loc[0][0]=654

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)
RangeIndex(start=0, stop=5, step=1)
            0         1         2         3         4
0        Zaid  0.877266  0.342391  0.145441  0.897616
1    0.438605  0.329593  0.624232  0.635699  0.577552
2    0.973098  0.999048  0.738518  0.251127  0.430822
3     0.28706  0.555837  0.804960  0.197949  0.897239
4    0.725151  0.351479  0.056178  0.272473  0.295349
..        ...       ...       ...       ...       ...
329  0.465283  0.399131  0.158266  0.616929  0.919697
330  0.936762  0.095172  0.648405  0.456684  0.471190
331  0.959065  0.342582  0.058466  0.583069  0.199758
332  0.923698  0.198648  0.400985  0.838142  0.280113
333  0.734307  0.264972  0.418432  0.067647  0.102295

[334 rows x 5 columns]

C:\Users\M.s\AppData\Local\Temp\ipykernel_9316\3744257910.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0][0]=654

**Setting Value**

In [10]:
df.loc[0,0]=654
print(df.head(3))
df.columns=list("ABCDE")
print(df.head(2))
df.loc[0,'A']=6540
print(df.head(3))
print(df.loc[[1,2],['C','D']])

          0         1         2         3         4
0       654  0.877266  0.342391  0.145441  0.897616
1  0.438605  0.329593  0.624232  0.635699  0.577552
2  0.973098  0.999048  0.738518  0.251127  0.430822
          A         B         C         D         E
0       654  0.877266  0.342391  0.145441  0.897616
1  0.438605  0.329593  0.624232  0.635699  0.577552
          A         B         C         D         E
0      6540  0.877266  0.342391  0.145441  0.897616
1  0.438605  0.329593  0.624232  0.635699  0.577552
2  0.973098  0.999048  0.738518  0.251127  0.430822
          C         D
1  0.624232  0.635699
2  0.738518  0.251127

**Acessing Rows**

In [11]:
print(df.loc[:,['C','D']])

            C         D
0    0.342391  0.145441
1    0.624232  0.635699
2    0.738518  0.251127
3    0.804960  0.197949
4    0.056178  0.272473
..        ...       ...
329  0.158266  0.616929
330  0.648405  0.456684
331  0.058466  0.583069
332  0.400985  0.838142
333  0.418432  0.067647

[334 rows x 2 columns]

**Acessing Columns**

In [12]:
print(df.loc[[1,2],:])

          A         B         C         D         E
1  0.438605  0.329593  0.624232  0.635699  0.577552
2  0.973098  0.999048  0.738518  0.251127  0.430822

**Complex Quesries**

In [13]:
print(df.loc[(df['B']<0.5) & (df['C']<0.5)])

            A         B         C         D         E
4    0.725151  0.351479  0.056178  0.272473  0.295349
9    0.199169  0.181790  0.164975  0.889410  0.533735
12   0.730528  0.066984  0.139559  0.666297  0.923096
13    0.85365  0.175626  0.206599  0.261283  0.836319
17   0.725861  0.115261  0.412956  0.722642  0.396029
..        ...       ...       ...       ...       ...
326  0.554224  0.063043  0.005735  0.235451  0.030439
329  0.465283  0.399131  0.158266  0.616929  0.919697
331  0.959065  0.342582  0.058466  0.583069  0.199758
332  0.923698  0.198648  0.400985  0.838142  0.280113
333  0.734307  0.264972  0.418432  0.067647  0.102295

[86 rows x 5 columns]

**If we are counting from indexes**

In [14]:
print(df.iloc[0,4])

0.89761625093492

In [16]:
# print(df.drop(['A'],axis=1))
# print(df.info())
df.rename(columns={'A':'a'},inplace=True)
print(df.head(5))

          a         B         C         D         E
0      6540  0.877266  0.342391  0.145441  0.897616
1  0.438605  0.329593  0.624232  0.635699  0.577552
2  0.973098  0.999048  0.738518  0.251127  0.430822
3   0.28706  0.555837  0.804960  0.197949  0.897239
4  0.725151  0.351479  0.056178  0.272473  0.295349

**Dropping Columns**

In [17]:
df['B']=df['B'].astype(int)
print(df.info())
print(df.head(5))

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 333
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       334 non-null    object
 1   B       334 non-null    int64
 2   C       334 non-null    float64
 3   D       334 non-null    float64
 4   E       334 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 23.8+ KB
None
          a  B         C         D         E
0      6540  0  0.342391  0.145441  0.897616
1  0.438605  0  0.624232  0.635699  0.577552
2  0.973098  0  0.738518  0.251127  0.430822
3   0.28706  0  0.804960  0.197949  0.897239
4  0.725151  0  0.056178  0.272473  0.295349